rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny safety net
    match /{document=**} {
      allow read, write: if false;
    }

    // Rules for users collection (since server runs unauthenticated)
    match /users/{email} {
      allow read, write: if true;
    }

    // Rules for surveys collection
    match /surveys/{id} {
      allow read, write: if true;
    }
  }
}
